/* Permet de retirer toutes les marges et normes prédéfinies.
On choisit la police d'écriture*/



html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family:"Helvetica", sans-serif;
}

/*
***
***
GENERAL
***
***
*/


/**/
.clearfix:before,
.clearfix:after { content: ""; display: table;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1; /* ie 6/7 */}



body
{
  background: #fff;
  font-weight: 300;
  color: #777;
  line-height: 1.65em;
}



.main ul li {
  float: left;
  list-style-type: none;
  margin-right: 20px;
  line-height: 80px;
}

nav {
  padding: 30px 0px;
}

nav a {
  color: #777;
}

nav a:hover {
  color: #44B78B;
  text-decoration: none;
}

.main .nav li:last-child, .login ul li:last-child{
  margin-right: 0px;
}


.main .nav {
  float: left;
}

.login ul {
  float: right;
}

.login ul li {
  float: left;
  list-style-type: none;
  margin-right: 20px;
  line-height: 80px;
}

.login ul li:first-child a {
   background-color: #44B78B;
   padding: 12px;
   border-radius: 3px;
   color: #fff;
   text-decoration: none;
}

.login ul li:first-child a:hover{
  color: inherit;;
}




.hero h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
  color: #44B78B;
}

.hero {
  padding: 20px;
}

.present h2 {
  font-size: 1.5em;
  text-align: center;
  color: inherit;
  margin: 20px 0px;
}
.what{
  float: left;
}
.what a {
  color: inherit;
}

.what a:hover{
  color:#44B78B;
  text-decoration: none;
}
.site {
  float: right;
}
.what img ,.site  p {
  height: auto;
  max-width: 100%;
  border: solid;
  border-radius: 5px;
  border-color: #44B78B;
}

.info ul {
  padding: 30px;
  list-style-type: none;
}

.info a {
color: #777;
padding: 0;
}

.info a:hover{
  text-decoration: none;
}

.info ul li:last-child{
  float: right;
  text-align: right;
}

h3{
  margin:30px;
  text-align: center;
}


header#amap{
  margin:20px;
  font-size: 2em;
  text-align: center;
  color: #44B78B;
}


/*
***
***
new Account
***
***
*/

h2{
  font-size: 2em;
  text-align: center;
  color: inherit;
  margin: 20px 0px
}

h2#amap{
      color: #44B78B;
}

.form label{
  float: left;
  text-align: right;
  margin: 10px 0px;
}

.form input, .form select{
  margin: 10px 0px;
}

.form div:last-child{
	text-align: center;
}


body {
color:black;
background-color:yellow;
}


.banniere
{
margin:0 px;
border-width: 0 px;
padding:0 px;
width:100%;
background-color: grey;
}

/*
***
***
Input et bouttons
***
***
*/

.entre div input {
	border: solid;
	border-radius:5px;
	border-color:#44B78B;
	text-align:center; }
	
.bouton {
	background-color:1b4837;
	border-radius:5px;
	border: solid;
	border-color:1b4837;
	color: #44B78B;
	 }

.roll {
	background-color:#44B78B;
	border-radius:5px;
	border: solid;
	border-color:#44B78B;
	color:1b4837;
	-webkit-appearance: none;
	-moz-appearance: none;
	-moz-selection:1b4837;
	}
	
/*
***
***
MySubs
***
***
*/
.abo{
	height:102px;
	margin-bottom: 38px;
	margin-top:39px; 
}

.abo a{
	color: white ;
	border:solid;
	border-radius:30px;
	border-color: #87CEFA;
	background-color:#87CEFA;
}

.abo a:hover{
	text-decoration: none;
	color:black;
}

.delete{
	border-radius: 30px;
	background-color: #CECECE;
	
}

.delete a{
	color:black;	
}

.delete a:hover{
	color: #E9383F;
	text-decoration: none;
}















